$globals
    font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
    padding: 15px

$fonts
    default: 16px $font
    small: 9px $font
    medium: 400 25px $font
    max: 50px/50px $font
    super: 40px/50px $font
    head: bold 26px/35px $font
    subhead: bold 25px/20px $font
    lead: 300 25px/35px $font
    sublead: 400 16px/25px $font

$colors
    purple: rgb(82, 94, 158)
    black: #333
    light_gray: #ddd
    lightest_gray: #f2f2f2
    medium_gray: #aaa
    on_green: #22F528

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font: 15px $font
    background: $colors.lightest_gray

img
    max-width: 100%

    &.logo
        max-width: 200px

a
    text-decoration: none
    display: block
    color: $colors.purple

h1, h2, h3
    color: $colors.purple
    font-weight: 300

h2
    margin-top: calc($padding * 2)

input, textarea
    display: block
    border: none
    padding: $padding
    text-align: left
    background: #eaeaea
    margin-top: $padding
    width: 100%

input, textarea, button, select
    font: inherit

textarea
    min-height: 100px

.container
    padding: calc($padding * 2)

.card
    background: white
    width: 100%
    padding: calc($padding * 2)
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.05)
    display: block
    margin: $padding 0px

.center
    text-align: center

.center-center
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    display: flex
    justify-content: center
    align-items: center

.nav
    padding: 0px calc($padding * 2)

    .logo
        height: 32px

    li
        vertical-align: middle
        list-style: none
        display: inline-block
        border-bottom: 3px solid rgba(0, 0, 0, 0)
        margin-right: $padding

        a
            display: block
            padding: $padding
            cursor: pointer

        &:first-child
            border: 0
            margin-right: $padding

            a
                padding: 0

        &.active
            border-color: $colors.purple

h1
    font: $fonts.medium
    font-weight: 400
    margin-bottom: $padding
    color: $colors.purple

.back
    display: inline-block
    color: $colors.purple
    font-size: 16px
    padding-right: $padding
    position: relative
    top: -4px

.help
    color: #888
    margin: 0 0 calc($padding * 2)

.how-to
    margin: $padding 0px

#content
    display: block

.devices-list

    .add-link
        float: right
        padding-top: 8px

    .device.item
        padding-bottom: $padding

        div
            display: inline-block
            margin-right: $padding

        .fa-circle
            color: $colors.on_green
            position: relative
            top: -2px
            font-size: 7px
            margin: 0px 6px

        .kind
            color: $colors.black
            font-weight: 600

        .device_id, .fa-gear
            float: right
            color: $colors.light_gray

.projects-list

    .project.item
        cursor: pointer
        margin-bottom: $padding

        .kind
            margin-right: 10px
            font-size: 12px

        .name
            font-weight: 600
            display: inline

        .description
            display: inline
            color: $colors.medium_gray

        .masker
            max-height: 150px
            overflow-y: hidden

            img
                position: relative
                top: -60px

.add-device

    a
        display: inline-block

    .token
        color: #515CA0
        font-size: 49px

.script-list

    .script.item
        border: 1px solid #ddd
        padding: 10px
        margin-bottom: 10px

        .name
            font-weight: bold

        .trigger
            margin-left: 0.5em
            font-family: monospace

        .source
            margin-top: 10px
            margin: -10px
            margin-top: 10px
            padding: 10px
            background: #ddd

        .actions
            float: right

.touch-button
    background: $colors.purple
    color: white
    padding: 16px
    border: none
    border-radius: 3px
    margin: $padding 0px
    width: 100%
    cursor: pointer

.signup-view, .login-view
    font: $fonts.default

    h2
        color: $colors.purple

    .logo + h2
        margin-top: calc($padding * 2)

    label
        display: none

    input
        width: 100%
        text-align: center

@import 'graph.sass'

