$globals
    font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif

$fonts
    default: 16px $font
    small: 9px $font
    medium: 400 25px $font
    max: 50px/50px $font
    super: 40px/50px $font
    head: bold 26px/35px $font
    subhead: bold 25px/20px $font
    lead: 300 25px/35px $font
    sublead: 400 16px/25px $font

$colors
    purple: rgb(82, 94, 158)
    black: #333
    light_gray: #ddd
    medium_gray: #aaa
    on_green: #22F528

$paddings
    small: 16px
    medium: 25px
    medium-large: 36px

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font: $font

img
    max-width: 100%

a
    text-decoration: none
    display: block
    color: $colors.purple

.container
    max-width: 1000px
    position: relative
    padding: 0px $paddings.medium

.card
    background: white
    width: 100%
    max-width: 500px
    padding: $paddings.medium
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.05)
    display: block
    margin: $paddings.small 0px

.nav
    background: #EBEBEB
    padding: 0px $paddings.medium
    padding-left: 82px

    .logo
        position: absolute
        left: $paddings.medium
        height: $paddings.medium-large
        top: 8px

    li
        list-style: none
        display: inline-block
        border-bottom: 3px solid rgba(0, 0, 0, 0)

        a
            padding: 20px $paddings.medium 10px 10px
            margin-right: $paddings.small
            cursor: pointer

        &.active
            border-color: $colors.purple

h1
    font: $fonts.medium
    font-weight: 200
    margin-bottom: $paddings.medium-large
    color: $colors.purple

.back
    color: #333
    position: absolute
    left: -1px
    top: 5px
    font-size: 20px

.help
    font: $fonts.default
    font-weight: 400
    color: #888
    max-width: 600px
    padding-bottom: $paddings.small

.how-to
    max-width: 400px
    margin-bottom: $paddings.small

#content
    display: block
    padding: $paddings.medium 0px
    background: #f2f2f2
    height: 100%

    h2
        margin-bottom: $paddings.small

.devices-list
    max-width: 500px

    .add-link
        float: right
        padding-top: 8px

    .device.item
        
        padding-bottom: $paddings.small

        div
            display: inline-block
            margin-right: $paddings.small

        .fa-circle
            color: $colors.on_green
            position: relative
            top: -2px
            font-size: 7px
            margin: 0px 6px

        .kind
            color: $colors.black
            font-weight: 600

        .device_id, .fa-gear
            float: right
            color: $colors.light_gray

.projects-list
    max-width: 500px

    .project.item
        cursor: pointer
        margin-bottom: $paddings.medium-large

        .kind
            margin-right: 10px
            font-size: 12px

        .name
            font-weight: 600
            display: inline

        .description
            display: inline
            color: $colors.medium_gray

.add-device
    a
        display: inline-block
